output/*
data/*
ckpts/*

__pycache__/*
datasets/__pycache__/*
retrieval/loftr/__pycache__/*
retrieval/loftr/backbone/__pycache__/*
retrieval/loftr/utils/__pycache__/*
retrieval/loftr/loftr_module/__pycache__/*
util/__pycache__/*

retrieval/__pycache__/*
retrieval/model/*

.vscode