torch
torchvision
imageio
imageio-ffmpeg
matplotlib
configargparse
tensorboard
tqdm
opencv-python
opencv-contrib-python
scikit-image
sklearn
numpy
lpips
einops
kornia==0.4.1
yacs
easydict
importlib
efficientnet_pytorch
